.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #00000099; */
    background: #716f6f7f;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal {
    float: right;
    font-size: 24px;
    cursor: pointer;
}


.modal-content {
    background: #071126;
    border-radius: 8px;
    padding: 10px 20px 20px 20px;
    width: 300px;
    box-shadow: 0 0 10px #0000004d;
}

#detalhePokemon {
    margin-top: 10px;

}

.modal-info-card {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 2px;
    border-radius: 8px;
    background: #ffffff1a;
    text-align: center;
    box-shadow: 0 0 6px #ccc;
}

.modal-info-adicional {
    display: flex; 
    justify-content: center; 
    gap: 50px;
    padding: 2px;  
}

.modal-info-adicional h4 {
    margin: 10px 0;
}